@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', 'san serif';
}

/* .blue-msg {
	background-color: #4488bf;

	 background-color: #446a97; 
	 @apply bg-blue-600; 
} */

.dashboard-text {
	/* background-color: #ca9703; */
	background-color: #8b6508;
	color: white;
	/* background-color: #dce7cc; */
	/* @apply bg-gray-800; */
}

.dashboard-bg {
	/* background-color: #265999; */
	background-color: #000033;
}

.text-gold {
	color: #ca9703;
}
/* .text-light-gold {
	color: #d5ad36;
} */
