@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', 'san serif';
}

.gold-bg {
	background-color: #8b6508;
}
.gold-text {
	color: #8b6508;
}

.text-default {
	color: #000000;
}

.gray-bg {
	background-color: #f4f5f7;
}
.light-gray-text {
	color: #8d8d8d;
}

.nav-gray-text {
	color: #706f73;
}
.blue-text {
	color: #1f3bb3;
}

.blue-bg {
	background-color: #1f3bb3;
}

.light-blue-text {
	color: #52cdff;
}
.light-blue-bg {
	background-color: #52cdff;
}
